* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.main-container {
    height: 100vh;
    width: 100vw;
    background-color:hsl(212, 45%, 89%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 250px;
    height: 400px;
    padding: 15px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}

.image-container {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.qr {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

h4 {
    margin: 10px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}